/* --------- This is CSS Reset Code --------- */
html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	overflow-x: hidden;
}

/* --------- Begin your CSS Below here --------- */

body {
	display: flex;
	position: relative;
	width: 100vw;
	min-height: 100vh;
}

::-webkit-scrollbar {
    width: 15px;
    min-height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    /* background: rgb(128, 128, 128); */
	background-color: #ffffff3f;
	/* box-shadow: 
		inset -3px -1px 10px rgba(0, 0, 0, 0.408),
		inset 1px 1px 10px rgba(255, 255, 255, 0.397); */
  }

  ::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.8);
  }

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100vw;
	height: 50px;
	padding: 0px 90px;
	/* gap: 550px; */
	background-color: rgb(219, 117, 40);
	color: white;
	font-size: 1.3rem;
	font-family: sans-serif;
	font-weight: 300;
}

.center-header-btn {
	display: flex;
	gap: 40px;
}

.header-btn {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 1rem;
}:hover.header-btn {
	cursor: pointer;
	border-bottom: 1px solid rgba(255, 255, 255, 0.81);
}

.banner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-family: sans-serif;
}

.banner {
	display: flex;
	color: white;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	width: 570px;
	letter-spacing: 0.5px;
}

.search-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 30px auto;
	box-sizing: border-box;
	border-radius: 20px;
	background-color: rgba(255, 201, 169, 0.522);
	padding: 0px 4px 0px 5px;
	height: 30px;
	width: 300px;
}

.search-field {
	padding: 0px 0px 0px 5px;
	width: 245px;
	background-color: transparent;
	border: none;
	font-size: 1rem;
	color: rgb(85, 85, 85);
}:focus.search-field {
	outline: none;
}

.recipe-title {
	font-size: 2.5rem;
	margin-top: 12px;
	margin-bottom: 17px;
	font-weight: bold;
	color: rgb(219, 117, 40);
}

.detail-card {
	display: flex;
	flex-direction: column;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.435);
	box-sizing: border-box;
	border-radius: 3px;
	width: 300px;
	padding: 10px;
}

.blue-btn {
	color: white;
	background-color: #498e91;
	border: none;
	border-radius: 2px;
	padding: 7px 12px;
	margin-top: 13px;
	letter-spacing: 0.3px;
}:hover.blue-btn {
	cursor: pointer;
	background-color: #55abb0;
}

.row-container {
	width: 100vw;
	/* padding: 50px 50px; */
	height: fit-content;
	display: flex;
	position: relative;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
	padding-bottom: 140px;
}

.detail-container {
	width: 100vw;
	height: fit-content;
	display: flex;
	position: relative;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 80px;
	padding-bottom: 140px;
}

.detail-title {
	display: flex;
	font-size: 1.5rem;
	font-weight: 300;
	justify-content: center;
	padding: 10px;
}

.detail-body {
	font-size: .75rem;
	font-weight: 300;
	padding: 3px;
}

.detail-instruction{
	font-size: .85rem;
	font-weight: 300;
	padding: 3px;
	letter-spacing: 0.5px;
}

/* ----------------------- */

.form {
	padding-bottom: 140px;
}

.add-title {
	display: flex;
	justify-content: center;
	font-size: 1.80rem;
	font-weight: 300;
	padding: 32px;
}

.add-input {
	display: flex;
	font-size: 1.2rem;
	justify-content: center;
	gap: 30px;
}

.input-one {
	height: 23px;
	width: 158px;
	padding: 5px 10px;
	font-size: 1rem;
	border: 1px solid rgb(141, 141, 141);
	border-radius: 3px;
}

.radio-input {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	padding: 20px;
	gap: 35px;
	font-size: 1.2rem;
	font-weight: 300;
}

.radio-card {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.input-two {
	height: 30px;
	width: 30px;
}:hover.input-two {
	cursor: pointer;
}

.add-input-three {
	display: flex;
	font-size: 1.2rem;
	justify-content: center;
	gap: 12px;
}

.input-three {
	height: 23px;
	width: 100px;
	padding: 5px 10px;
	font-size: 1rem;
	border: 1px solid rgb(141, 141, 141);
	border-radius: 3px;
}

.add-input-four-container {
	display: flex;
	justify-content: center;
}

.add-input-four {
	display: flex;
	flex-flow: column wrap;
	font-size: 1.2rem;
	justify-content: flex-start;
	padding: 15px 0px;
	gap: 12px;
	width: 195px;
}

.input-four {
	height: 23px;
	width: 158px;
	padding: 5px 10px;
	font-size: 1rem;
	border: 1px solid rgb(141, 141, 141);
	border-radius: 3px;
}

.add-list {
	box-sizing: border-box;
	width: 195px;
	font-weight: 300;
}

.btn-container{
	display: flex;
	justify-content: center;
}

.add-btn {
	box-sizing: border-box;
	font-size: 0.95rem;
	height: 32px;
	width: 120px;
	background-color: rgb(219, 117, 40);
	color: white;
	border: none;
}:hover.add-btn {
	cursor: pointer;
	background-color: rgb(221, 136, 70);
}

.text-box-container {
	display: flex;
	justify-content: center;
}

.text-box {
	box-sizing: border-box;
	width: 390px;
	height: 130px;
	margin: 12px 0px;
	font: inherit;
	padding: 5px;
}

.save-container{
	display: flex;
	justify-content: center;
}

.save-btn {
	box-sizing: border-box;
	font-size: 0.95rem;
	height: 32px;
	width: 120px;
	background-color: #498e91;
	color: white;
	border: none;
}:hover.save-btn {
	cursor: pointer;
	background-color: #55abb0;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 300px;
	width: 210px;
	box-sizing: border-box;
	border-radius: 3px;
  	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.435);
	padding-bottom: 10px;
}

.card-title {
	font-weight: 300;
}

.card-btn {
	color: white;
	background-color: #498e91;
	border: none;
	padding: 7px 12px;
	width: 100px;
	letter-spacing: 0.3px;
	border-radius: 2px;
}:hover.card-btn {
	cursor: pointer;
	background-color: #55abb0;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	align-self: flex-end;
	box-sizing: border-box;
	padding: 0px 90px;
	bottom: 0px;
	background-color: rgb(59, 59, 59);
	color: white;
	width: 100vw;
	height: 115px;
	font-size: 1rem;
	font-family: sans-serif;
	font-weight: 400;
	letter-spacing: 0.2px;
	/* position: sticky; */
}

.social-icons {
	display: flex;
	margin-left: 8px;
	margin-top: 8px;
	gap: 13px;
}

.individual-icons {
	background-color: #498e91;
	border-radius: 50px;
	padding: 7px;
}:hover.individual-icons {
	cursor: pointer;
	background-color: #55abb0;
}

